@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: "Salsa", cursive;
  font-family: "Ubuntu", sans-serif;
}
* {
  box-sizing: border-box;
  user-select: none;
}
